$color-principal: #F2CD1A;
$color-de-fondo-primario: #555;
$html: #f16524;
$css: #42a5f5;
$bootstrap: #8b0bfc;
$sass: #cf649a;
$gitHub: #f0f6fc;
$javascript: #fdee21;
$java: #0075bf;
$linux: #000;
$linkedin: #0ba0f1;
$whatsapp: #05ff01;
$instagram: #ee097f;
$tiktok: #fff;
$email: #db4639;
$google-font: #00ac41;
$font-awesome: #4e86cc;